---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/v1.31.3/namespace-v1.json
apiVersion: v1
kind: Namespace
metadata:
  name: onepassword-connect
---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-connect-secret
  namespace: onepassword-connect
stringData:
  onepassword-credentials.json: "#{ get_env('OP_CREDENTIALS_JSON') | b64encode }#"
  token: "#{ get_env('OP_CONNECT_TOKEN') }#"
